In [5]:
import pandas as pd
import numpy as np

In [6]:
lyrics_file = 'Project2-/data/billboard_hot_100_1965_to_2015.csv'

lyrics_data = pd.read_csv(lyrics_file)

In [7]:
lyrics_data

NameError: name 'lyrics_data' is not defined

In [23]:
artist_group = lyrics_data.groupby(['Artist']).count()

In [25]:
del artist_group['Source']

In [26]:
artist_group.head()

                        Rank  Song  Year  Lyrics
Artist
  the mysterians           1     1     1       1
100 proof aged in soul     1     1     1       0
10000 maniacs              1     1     1       1
10cc                       2     2     2       1
112                        3     3     3       3