### Billboard Files
#### Used to merge the 2 billboard files into a single source
- This is just for preprocessing the files and should not have to be rerun
- The csv output will be used to fetch more lyrics

In [1]:
import pandas as pd
import numpy as np

In [2]:
#these are the orginal files. note: they do not contain any of the scarped lyrics
lyrics_file = 'data/originals/billboard_lyrics_1964-2015.csv'
songs_file = 'data/originals/billboard_hot_100_1960_to_2018.csv'

In [3]:
lyrics_data = pd.read_csv(lyrics_file)
songs_data = pd.read_csv(songs_file)

In [4]:
songs_data.head()

   RankId  Rank                       Song               Artist  Year
0       1     1  Theme from A Summer Place          Percy Faith  1960
1       2     2           He'll Have to Go           Jim Reeves  1960
2       3     3              Cathy's Clown  The Everly Brothers  1960
3       4     4               Running Bear       Johnny Preston  1960
4       5     5                 Teen Angel         Mark Dinning  1960

In [5]:
lyrics_data.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [6]:
#merge the file
song_merged = pd.merge(songs_data, lyrics_data,  how='left', left_on = ['Rank','Year'], right_on = ['Rank','Year']).set_index("RankId")

In [7]:
song_merged.head()

,Rank,Song_x,Artist_x,Year,Song_y,Artist_y,Lyrics,Source
RankId,,,,,,,,
1,1,Theme from A Summer Place,Percy Faith,1960,NaN,NaN,NaN,NaN
2,2,He'll Have to Go,Jim Reeves,1960,NaN,NaN,NaN,NaN
3,3,Cathy's Clown,The Everly Brothers,1960,NaN,NaN,NaN,NaN
4,4,Running Bear,Johnny Preston,1960,NaN,NaN,NaN,NaN
5,5,Teen Angel,Mark Dinning,1960,NaN,NaN,NaN,NaN

In [8]:
song_merged.head(20)

,Rank,Song_x,Artist_x,Year,Song_y,Artist_y,Lyrics,Source
RankId,,,,,,,,
1,1,Theme from A Summer Place,Percy Faith,1960,NaN,NaN,NaN,NaN
2,2,He'll Have to Go,Jim Reeves,1960,NaN,NaN,NaN,NaN
3,3,Cathy's Clown,The Everly Brothers,1960,NaN,NaN,NaN,NaN
4,4,Running Bear,Johnny Preston,1960,NaN,NaN,NaN,NaN
5,5,Teen Angel,Mark Dinning,1960,NaN,NaN,NaN,NaN
6,6,I'm Sorry,Brenda Lee,1960,NaN,NaN,NaN,NaN
7,7,It's Now or Never,Elvis Presley,1960,NaN,NaN,NaN,NaN
8,8,Handy Man,Jimmy Jones,1960,NaN,NaN,NaN,NaN
9,9,Stuck on You,Elvis Presley,1960,NaN,NaN,NaN,NaN
10,10,The Twist,Chubby Checker,1960,NaN,NaN,NaN,NaN
11,11,Everybody's Somebody's Fool,Connie Francis,1960,NaN,NaN,NaN,NaN
12,12,Wild One,Bobby Rydell,1960,NaN,NaN,NaN,NaN
13,13,Greenfields,The Brothers Four,1960,NaN,NaN,NaN,NaN
14,14,What in the World's Come Over You,Jack Scott,1960,NaN,NaN,NaN,NaN
15,15,El Paso,Marty Robbins,1960,NaN,NaN,NaN,NaN
16,16,Alley Oop,The Hollywood Argyles,1960,NaN,NaN,NaN,NaN
17,17,My Heart Has a Mind of Its Own,Connie Francis,1960,NaN,NaN,NaN,NaN
18,18,Sweet Nothin's,Brenda Lee,1960,NaN,NaN,NaN,NaN
19,19,Itsy Bitsy Teenie Weenie Yellow Polka Dot Bikini,Brian Hyland,1960,NaN,NaN,NaN,NaN
20,20,Only the Lonely,Roy Orbison,1960,NaN,NaN,NaN,NaN

In [9]:
#export to csv to use for processing lyrics
song_merged.to_csv('data/billboard_songs_merged.csv')