In [1]:
import pandas as pd
import numpy as np

In [2]:
lyrics_file = 'data/billboard_lyrics_1964-2015.csv'

In [3]:
lyrics_data = pd.read_csv(lyrics_file)

In [4]:
lyrics_data.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [23]:
artist_group = lyrics_data.groupby(['Artist']).count()

In [25]:
del artist_group['Source']

In [26]:
artist_group.head()

                        Rank  Song  Year  Lyrics
Artist
  the mysterians           1     1     1       1
100 proof aged in soul     1     1     1       0
10000 maniacs              1     1     1       1
10cc                       2     2     2       1
112                        3     3     3       3